html{
    font-family: Helvetica;
    background-color: #ddd;
}
.container{
    max-width: 1100px;
    background-color: #fff;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
}
.bold{
    font-weight: 600;
}
header{
    text-align: center;
}
.main-title{
    font-size: 30px;
}
.main-paragraph{
     font-style: italic;
}
.featured-image{
    text-align: center;
    margin-top: 30px;
    
}
.biography{
    padding: 20px 0;
    margin: 25px 0;
    border-top: 1px dashed rgb(55, 148, 202);
    border-bottom: 1px dashed rgb(55, 148, 202);
}
.quotes{
    padding: 30px;
    background-color: #ddd;
}
.quotes blockquote{
    font-size: 30px;
    font-weight: bold;
}
.quotes p{
    font-style: italic;
}
.curiosities{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed rgb(55, 148, 202);
    border-bottom: 1px dashed rgb(55, 148, 202);
}
.curiosities li{
    height: auto;
}
.img-bold{
    text-align: center;
    font-weight: bold;
}