* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    color: #333;
}

p{
    color: #70747a;
}

.navbar-container {
    width: 100%;
    height: 80px;
    background-color: #232a31;
    padding: 0, 2rem;
}

nav{
    position: relative;
}

.logo {
    width: 50px;
    padding-top: 6px;
    margin: 10px;
}

.navbar-items {
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
    padding-right: 20px;

}
.navbar-items li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-items a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}

.navbar-items:hover{
    color: #ccc;
}

.default-btn {
    background-color: #2cc76a;
    border-radius: 5px;
    padding: 15px 20px;
}

.main-banner {
    background-image: url(/img/mainbanner.png);
    background-size: cover;
    background-position: center;
    height: 700px;
    padding: 10rem 0;
}

.main-banner h1,
.main-banner p {
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding-top: 60px;
}

.main-banner h1{
    font-size: 54px;
}
.main-banner p {
    font-size: 32px;
}

.services-container{
    padding: 7rem 0;
    height: 500px;
}

.services-container ul{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.services-container li{
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}
.fas{
    font-size: 60px;
    margin-bottom: 15px;
}

.fa-shield-alt{
    color: #2cc76a;
}

.fa-rocket{
    color: #ef3f29;
}
.fa-comments{
    color:#ef8f29;
}
.services-container h3{
    padding-bottom: 10px;
}
.pricing-container{
    padding-bottom: 5rem;
    text-align: center;
}
.pricing-container h2{
    font-size: 36px;
}
.pricing-container p{
    font-size: 20px;
}
.plans-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;
}

.plan{
    flex: 1;
    max-width: 275px;
    margin: 0 20px;
}

.plan ul{
    padding: 0;
    
}
.plan li{
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #e8e9ea;
    color: #333;
}
.plan .price{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    background-color: #2cc762;
    color: #fff;
    text-align: center;
    line-height: 120px;
    font-size: 18px;
    margin: 0 auto -50px;
}
.plan .plan-name{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    background-color:#202b34;
    color: #fff;
    padding: 50px 0;
}

.plan .plan-btn{
    background-color: #2cc762;
    color: #fff;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
}
.plan .recommended{
    background-color: #d84b38;
}


.searchdomain-container{
    background-color: #34454e;
    text-align: center;
    padding: 5rem 0;
}
.searchdomain-container h2{
    color: #fff;
    font-size: 42px;
    margin-bottom: 25px;
}
.searchdomain-container p{
    color: #ccc;
    font-size: 24px;
    margin-bottom: 25px;
}
.searchdomain-container input{
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
}
.searchdomain-container input[type="text"]{
    width: 60%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 25px;
}
.searchdomain-container input[type="submit"]{
    padding: 15px 25px;
    background-color: #2cc762;
    color: #fff;
    font-size: 25px;
}
.contact-container{
    text-align: center;
    padding: 5rem 0;
}
.contact-container h2{
    font-size: 42px;
    margin-bottom: 25px;
}
.contact-container p{
    font-size: 24px;
    margin-bottom: 25px;
}
.contact-container input,
.contact-container textarea{
    width: 200px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin: 0 10px 20px;
}
.contact-container textarea{
    display: block;
    margin: 0 auto 15px;
    width: 475px;
    height: 150px;
}
.contact-container input[type="submit"]{
    background-color: #2cc762;
    color: #fff;
    padding: 10px 20px;
    border: none;
}
footer{
    margin: 10px 0 50px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
@media (max-width: 576px) {
  html,
  body {
    overflow-x: hidden;
  }

  .navbar-items li {
    font-size: 12px;
    margin-left: 10px;
  }

  .main-banner p {
    padding: 0 2rem;
  }

  .services-container ul {
    flex-direction: column;
  }

  .plans-container {
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;
  }

  .plan {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }

  .searchdomain-container h2 {
    font-size: 28px;
  }

  .searchdomain-container input[type="text"] {
    width: 100%;
  }

  .contact-container {
    padding: 3rem 2rem;
  }

  .contact-container input,
  .contact-container textarea {
    width: 100%;
    margin: 10px 0;
  }
}
