* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f0ebf8;
}
h1,
h3{
    color: #333;
}
p,
label{
    color: #444;
}

input{
    border: none;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    outline: none;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea{
    width: 400px;
}

textarea{
    padding: 10px 5px;
    background: transparent;
    outline: none;
}
.block{
    display: block;
}
header{
    background-color: #673ab7;
    height: 170px;
    padding: 20px;
    text-align: center;
}
header h3{
    color: #fff;
    margin: 40px 0;
    font-size: 25px;
}
.form-container{
    width: 60%;
    background-color: #fdfdfd;
    position: relative;
    margin: 0px auto;
    top: -62px;
}
.form-header{
    height: 45px;
    border-bottom: 1px solid #dfdfdf;
}
.form-header p{
    color: #673ab7;
    text-align: center;
    border-bottom: 2px solid #673ab7;
    width: 100px;
    text-transform: uppercase;
    margin: 0 auto;
    height: 45px;
    line-height: 45px;
}
.form-body{
    padding: 30px;
    /* margin: 0px auto; */
}
.form-title h1{
    margin-bottom: 15px;
}
.form-title p{
    margin-bottom: 20px;
}
.required-field{
    color: #d80835;
}
.box-input p{
    margin-bottom: 15px;
}
.box-input{
    margin-bottom: 35px;
}
.block{
    display: block;
}
.optional-box p{
    margin-bottom: 15px;
}
.optional-box{
    display: inline-block;
    margin: 0 30px 30px 0;
}
.optional-list li {
    list-style: none;
    margin-bottom: 5px;
}
.btn-submit{
    background-color: #673ab7;
    color: #fff;
    width: 150px;
    height: 50px;
    border: 2px solid transparent;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;
}
.btn-submit:hover{
    background-color: #fdfdfd;
    border-color: #673ab7;
    color: #673ab7;
}