* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f0ebf8;
}
h1,
h3{
    color: #333;
}
p,
label{
    color: #444;
}

input{
    border: none;
    border-bottom: 1px solid #444;
    padding: 20px 0;
}

input [type= "text"],
input [type="number"],
input [type="date"],
input [type="file"],
textarea{
    width: 200px;
}
textarea{
    padding: 10px 5px;
}
.block{
    display: block;
}
header{
    background-color: #673ab7;
    height: 170px;
    padding: 20px;
}
header h3{
    color: #fff;
    margin-top: 0;
}
.form-container{
    max-width: 1100px;
    background-color: #fdfdfd;
    position: relative;
    margin: 0px auto;
    padding: 20px 0;
    top: -90px;
}
.form-header{
    height: 45px;
    border-bottom: 1px solid #444;
}
.form-header p{
    color: #673ab7;
    border-bottom: 1px solid #673ab7;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    height: 45px;
    margin: 0 auto;
    line-height: 45px;
}